//
// REGION: ARTICLE
// ------------------------------------------------------------------
//

.article {
    color: #333;

    @media (min-width: 720px) {
        padding-right: rem(24);
    }

}

.article .dnn-container {
    padding: rem(24);
    background-color: #fff;
}

.article .DNNModuleContent :last-child {
    margin-bottom: 0;
}

.page--content-123 .logo-123 .Normal img {
    display: block;
    width: 100%;
    max-width: em(275);
    height: auto;
    margin-top: em(20);
    margin-bottom: em(20);

    @media (min-width: 720px) {
        margin-top: 0;
    }

}