<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application,  please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections> 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sphdhv.Klantportaal.Audit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="LoggingDatabase" connectionString="Data Source=OTA-DB.ICATT.LOCAL;Initial Catalog=SPHDHV.KlantPortaal.DEV.Audit;User ID=SPHDHV.KlantPortaal.DEV.Audit;Password=sgf345^%$bF4*#gH)9!fcF$#gvgvf67uy3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="LogOverview.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url=".*" />
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <security>
      <authentication>
     
      </authentication>
    </security>
  </system.webServer>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Icatt.Logging.DbContext.LoggingDbContext, Icatt.Logging.DbContext" disableDatabaseInitialization="true" />
    </contexts>
  </entityFramework>
  <applicationSettings>
    <Sphdhv.Klantportaal.Audit.Properties.Settings>
      <setting name="LoggingDatabaseConnectionString" serializeAs="String">
        <value>LoggingDatabase</value>
      </setting>
      <setting name="KeyVaultApplicationId" serializeAs="String">
        <value>81732dd5-256c-4b50-afa6-54d01e74838f</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprint" serializeAs="String">
        <value>B712127AD161A06130781A5C34E6E35D9C25E45E</value>
      </setting>
      <setting name="KeyVaultAuditSecrect" serializeAs="String">
        <value>https://sphdhvauditdev.vault.azure.net/secrets/SphdhvKlantPortaalAuditKeyDEV/752d3a4ae0814700b0a5b8ffc60e01c6</value>
      </setting>
    </Sphdhv.Klantportaal.Audit.Properties.Settings>
  </applicationSettings>

  
  <runtime>

  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  
            <dependentAssembly>

  
                 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

  
            </dependentAssembly>

  
       </assemblyBinding>

  
  </runtime>
</configuration>