<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="LoggingDatabase"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="__$LoggingDatabase$__"
    />
  </connectionStrings>

  <applicationSettings>
    <Sphdhv.Klantportaal.Audit.Properties.Settings>

      <setting name="KeyVaultApplicationId" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultApplicationId@@</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprint" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultCertificateThumbprint@@</value>
      </setting>
      <setting name="KeyVaultAuditSecrect" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultAuditSecrect@@</value>
      </setting>

    </Sphdhv.Klantportaal.Audit.Properties.Settings>
  </applicationSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authorization>
      <allow roles="@@accessRoles@@" />
      <deny users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <security>
      <authentication xdt:Transform="Replace">
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>



</configuration>