<script id="404" type="text/x-dust-template">
   
    <div class="grid">

        <div class="col-span-12-sm col-span-8-md col-span-8-lg">

            <h2>Pagina niet gevonden</h2>

            <p>De door u opgevraagde pagina kon niet gevonden worden.</p>

        </div>

    </div>

</script>



<script id="mijnpensioen-berichten-behaviour" type="text/javascript">
    $.fn.jsmvc.view("404", {
        afterfirstrender: function () {},
        afterrender: function () {}
    });
    //# sourceURL=404-behaviour.js
</script>
