<script id="alert" type="text/x-dust-template">

    <div class="alert alert--success is-dismissable" role="alertdialog" aria-labelledby="AlertTitle1" aria-describedby="Alert1Desc">
        <h2 id="Alert1Title">{title}</h2>
        <div id="Alert1Desc">{body|s}</div>
        <button class="alert-close js-close-alert" type="button" title="Melding sluiten">
            <svg><use xlink:href="/Portals/mijn/Skins/klantportaal/assets/icons/output/icons.symbol.svg#cross"></use></svg>
        </button>
    </div>

</script>



<script id="alert-behaviour" type="text/javascript">

    $.fn.jsmvc.view("alert", {
        afterfirstrender: function () {},
        afterrender: function () {

            $(document).on('click', '.js-close-alert', function (e) {

                var alert = $(this).closest('.alert');

                alert.fadeOut(400, function () {

                    $(this).remove();

                });

            });

        }
    });
    //# sourceURL=alert-behaviour.js
</script>
