<script id="email-collect" type="text/x-dust-template">
   
    <div class="grid">

        <div class="col-span-12-sm col-span-8-md col-span-8-lg">

            <h2>E-mailadres</h2>

            <p>We houden je graag op de hoogte over je pensioen. Vul hieronder je e-mailadres in en klik op volgende.</p>

            <p class="form-group ">
                <input type="email" name="emailCollect"      />
                <span class="form-error">Vul een geldig e-mailadres in</span>
            </p>

            <div class="button-group">

                <button class="button button--primary js-submit-email" id="emailCollectSubmit" type="submit">Volgende</button>
                <a class="button button--link" id="emailCollectDismiss" href="/#profiel">Overslaan</a>

            </div>

        </div>

    </div>

</script>

<script id="email-collect-bedankt" type="text/x-dust-template">

    <div class="grid">

        <div class="col-span-12-sm col-span-8-md col-span-8-lg">

            <h2>Verifieer je e-mailadres</h2>

            <p>Om je e-mailadres te verifiëren klik je op de verificatielink in de zojuist verstuurde e-mail.</p>

            <div class="button-group">

                <a class="button button--primary" id="emailCollectDismiss" href="/#profiel">Naar Mijn pensioenomgeving</a>

            </div>

            

        </div>

    </div>

</script>



<script id="email-collect-behaviour" type="text/javascript">
    $.fn.jsmvc.view("email-collect", {
        events: ['emailSubmit', 'emailOptOut'],
        afterfirstrender: function () {},
        afterrender: function () {

            var view = this;

            var $emailField = $('[name=emailCollect]');

            var emailIsValid = function () {
                var emailRegex = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;
                return emailRegex.test($emailField.val());
            };

            $emailField.on('change', function () {
                emailIsValid() ?  $(this).parent().removeClass('is-invalid') :  $(this).parent().addClass('is-invalid');
             });

            $emailField.on('keyup', function () {
                if (emailIsValid()) { $(this).parent().removeClass('is-invalid'); }
            });

            $('#emailCollectSubmit').on('click', function (e) { 
                e.preventDefault();
                if (emailIsValid()) {
                    $(view.events).trigger('emailSubmit', { email: $emailField.val() });
                } else {
                    $emailField.parent().addClass('is-invalid')
                }
            });

            $('#emailCollectDismiss').on('click', function (e) {
                e.preventDefault();
                $(view.events).trigger('emailSubmit', { email: '' });           
            });

        }
    });
    //# sourceURL=email-collect-behaviour.js
</script>
