<script id="mijnpensioen-profiel" type="text/x-dust-template">

    <div class="grid">

        <div class="col-span-12-sm col-span-8-md col-span-8-lg">


            {@eq key="'{.emailVerified}'" value="'true'"}
            <div id="alertPlaceholder"></div>
            {/eq}


            <h2>Mijn profiel</h2>

            {@eq key="{.StatusCode}" value="200"}
            {#.Response}

            <dl>
                <dt>Naam</dt>
                <dd>{.Naam}</dd>
                <dt>Geboortedatum</dt>
                <dd>{.DatumGeboorte}</dd>
                <dt>Geslacht</dt>
                <dd>{.Geslacht}</dd>
                <dt>BSN</dt>
                <dd>{.Bsn}</dd>
                <dt>Burgelijke staat</dt>
                <dd>{.Burgerlijkestaat}</dd>
               
                <!--<dt>E-mailadres</dt>
        <dd></dd>-->
                {?.HuidigePartner.DossierId}

                {#.HuidigePartner}

                <dt>Naam partner</dt>
                <dd>{.NaamVolledig}</dd>
                <dt>Geboortedatum partner</dt>
                <dd>{.DatumGeboorte}</dd>

                {/.HuidigePartner}

                {/.HuidigePartner.DossierId}

            </dl>

            {/.Response}
            {:else}

            <p>Je bent momenteel niet geautoriseerd om de inhoud van deze pagina te bekijken. <a href="/authentication/login">Log opnieuw in</a>.</p>

            {/eq}
        </div>

    </div>

    <!--{?.HuidigePartner}     
        HuidigePartner: <br /> 
        <ul>
            <li>
                Naam Volledig: {.HuidigePartner.NaamVolledig}<br />             
                Status: {.HuidigePartner.Status}<br /> 
            </li>
        </ul>
    {/.HuidigePartner}--> 

</script>



<script id="mijnpensioen-profiel-behaviour" type="text/javascript">
    $.fn.jsmvc.view("mijnpensioen-profiel", {
        afterfirstrender: function () {
        },
        afterrender: function () {
          
        }
    });
    //# sourceURL=mijnpensioen-profiel-behaviour.js
</script>
