<script id="mijnpensioen-tabcontroller" type="text/x-dust-template">





    

    <h1 class="u-visuallyhidden">Mijn SPHDHV</h1>

<div class="page-ie">

    <div class="page">

        <!-- Main -->

        <div class="main">

            <!-- Backlink -->

            <div class="u-bgcolor-dark-0">

                <div class="u-container">

                    <a class="backlink" href="https://www.pensioenfondshaskoningdhv.nl">
                        <svg><use xlink:href="/Portals/mijn/Skins/klantportaal/assets/icons/output/icons.symbol.svg#icn-arrow-left"></use></svg>
                        pensioenfondshaskoningdhv.nl
                    </a>

                </div>

            </div>

            <!-- Header -->

            <div class="header u-bgcolor-dark">

                <div class="u-container">

                    <div class="header-logo">

                        <img src="/Portals/mijn/Skins/klantportaal/assets/img/logo_subtitle.svg" alt="Pensioenfonds HaskoningDHV" />
                        <img src="/Portals/mijn/Skins/klantportaal/assets/img/logo_block.svg" alt="Pensioenfonds HaskoningDHV" />

                    </div>
                    <a class="header-logout" href="/authentication/logoff">
                        <svg><use xlink:href="/Portals/mijn/Skins/klantportaal/assets/icons/output/icons.symbol.svg#icn-logout"></use></svg>
                        Uitloggen
                    </a>
                </div>

            </div>

            <div id="ContentPane" runat="server">


                  <div class="u-bgcolor-light-25">

        <div class="u-container">

            <nav class="tabs" id="tabs">

                <h2 class="u-visuallyhidden">Navigatie</h2>

                <ul class="tabs-list">
                    <li class="tabs-tab">
                        <a class="tabs-anchor" href="#profiel">
                            <svg class="tabs-icon">
                                <use xlink:href="/Portals/mijn/Skins/klantportaal/assets/icons/output/icons.symbol.svg#icn_user"></use>
                            </svg>
                            Profiel
                        </a>
                    </li>
                    <li class="tabs-tab">
                        <a class="tabs-anchor" href="#pensioen">
                            <svg class="tabs-icon">
                                <use xlink:href="/Portals/mijn/Skins/klantportaal/assets/icons/output/icons.symbol.svg#icn_piggybank"></use>
                            </svg>
                            Pensioen
                        </a>
                    </li>
                    <li class="tabs-tab">
                        <a class="tabs-anchor" href="#berichten">
                            <svg class="tabs-icon">
                                <use xlink:href="/Portals/mijn/Skins/klantportaal/assets/icons/output/icons.symbol.svg#icn_file"></use>
                            </svg>
                            Documenten
                        </a>
                    </li>
                    <li class="tabs-indicator" id="tabsIndicator" aria-hidden="true"></li>
                </ul>
            </nav>

        </div>

    </div>

                


    <div class="tabcontent u-container" id="tabContent">


       

    </div>


            </div>

        </div>

        <!-- Footer -->

        <div class="footer u-bgcolor-dark">

            <div class="u-container">

                <a href="https://www.pensioenfondshaskoningdhv.nl">
                    <img class="footer-primary-logo" src="/Portals/mijn/Skins/klantportaal/assets/img/logo.svg" />
                    <img class="footer-primary-logo" src="/Portals/mijn/Skins/klantportaal/assets/img/logo_block.svg" />
                </a>

                <div class="footer-address">
                    <p class="footer-addressline address">Laan 1914 nr. 35 3818 EX Amersfoort<br />Postbus 1388 3800 BJ Amersfoort</p>
                    <p class="footer-addressline phone">(088) 348 2190</p>
                    <p class="footer-addressline email"><a href="mailto:pensioenfonds@rhdhv.com">pensioenfonds@rhdhv.com</a></p>
                </div>

            </div>

        </div>

    </div>

</div>






















   



</script>



<script id="mijnpensioen-tabcontroller-behaviour" type="text/javascript">
    $.fn.jsmvc.view("mijnpensioen-tabcontroller", {
        afterfirstrender: function () {
        },
        afterrender: function () {

            var view = this;

            var tabIndicatorModule = (function () {

                var config = {
                    $wrapper: $('#tabs'),
                    $tabs: $('.tabs-anchor'),
                    $indicator: $('#tabsIndicator')
                };

                var defaultPage = view.app.settings.page,
                    currentPage = view.app.context.route.page,
                    previousPage = view.app.context.route.previous.page,
                    tabPages = ['berichten', 'pensioen', 'profiel'];

                return {
                    init: function () {

                        if ($('[href="#' + currentPage + '"]').length) {

                            var self = this;

                            self.update();

                            var resizeTimer;

                            $(window).on('resize', function (e) {

                                clearTimeout(resizeTimer);
                                resizeTimer = setTimeout(function () {

                                    self.update();

                                }, 100);

                            });

                        }

                    },
                    update: function () {

                        // only set indicator when page exists

                        if (currentPage in view.app.settings.pages) {

                            // set initial indicator when there isn't a previous page

                            if (previousPage === '' || tabPages.indexOf(previousPage) < 0) {

                                this.setIndicator(currentPage);


                            } else if (tabPages.indexOf(previousPage) >= 0) {

                                // set and move indicator when previous page exists

                                if (previousPage in view.app.settings.pages) {

                                    this.setIndicator(previousPage);

                                    this.moveIndicator(currentPage);

                                } else {

                                    // set indicator when previous page does not exist (coming from 404)

                                    this.setIndicator(currentPage);

                                }

                            }

                        }

                    },
                    setIndicator: function (page) {

                        config.$indicator.css({
                            width: $('[href="#' + page + '"]').outerWidth(),
                            left: $('[href="#' + page + '"]').offset().left - config.$wrapper.offset().left
                        });

                    },
                    moveIndicator: function (page) {

                        config.$indicator.animate({
                            width: $('[href="#' + page + '"]').outerWidth(),
                            left: $('[href="#' + page + '"]').offset().left - config.$wrapper.offset().left
                        }, 300);

                    }

                }

            })();

            // Initiate Tab indicator module

            tabIndicatorModule.init();

        }
    });
    //# sourceURL=mijnpensioen-tabcontroller-behaviour.js
</script>