<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sphdhv.DeelnemerPortalApi.Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Sphdhv.DeelnemerPortalApi.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <Sphdhv.DeelnemerPortalApi.Proxy.Properties.Settings>
      <setting name="baseUrl" serializeAs="String">
        <value>https://dhvwebapi.bgstest.piramide.nl/</value>
      </setting>
      <setting name="certificateIssuer" serializeAs="String">
        <value>bgstest.piramide.nl</value>
      </setting>
    </Sphdhv.DeelnemerPortalApi.Proxy.Properties.Settings>
    

	  <Sphdhv.DeelnemerPortalApi.Client.Properties.Settings>
		  <setting name="baseUrl" serializeAs="String">
			  <value>https://dhvapi-a.iv-hosting.nl/</value>
		  </setting>
		  <setting name="BaseUrlPiramideAccept" serializeAs="String">
			  <value>https://dhvapi-a.iv-hosting.nl/</value>
		  </setting>
		  <setting name="certificateIssuer" serializeAs="String">
			  <value>Piramide Intermediate CA 2</value>
		  </setting>
		  <setting name="CertificateSubject" serializeAs="String">
			  <value>CN=DHVapi-a Authentication, OU=IT, O=Visma IT, L=Zwolle, S=Overijssel, C=NL</value>
		  </setting>
		  <setting name="CertificateSubjectPiramideAccept" serializeAs="String">
			  <value>CN=DHVapi-a Authentication, OU=IT, O=Visma IT, L=Zwolle, S=Overijssel, C=NL</value>
		  </setting>
		  <setting name="CertificateMustBeValid" serializeAs="String">
			  <value>False</value>
		  </setting>
	  </Sphdhv.DeelnemerPortalApi.Client.Properties.Settings>
	  
	  
	  
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>

  </runtime>
</configuration>