.digid {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 12px;
    color: #000 !important;
    margin: $dist-large 0;
    box-shadow: $box-light;

    span {
        padding: 0 $dist-large;
    }
}