.KeyValueList {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-medium;

    dt, dd {
        flex: 0 50%;
        margin: 0;
        padding: $dist-medium 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid $clr-special;
        }
    }

    dt {
        font-weight: 600;
        color: $clr-primary;
    }
}