.Spinner {
    &.Spinner--active {
        &:after {
            opacity: 1;
            content: '';
            position: fixed;
            top: calc(50% - 1.5rem);
            left: calc(50% - 1.5rem);
            z-index: 100;
            width: 3rem;
            height: 3rem;
            border: .375rem solid #bfe1e9;
            border-top: .375rem solid #00577e;
            background: 0 0;
            border-radius: 50%;
            animation-name: spin;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(.6,0,.4,1);
    
            @keyframes spin {
                0% {transform: rotate(0deg)}
                100% { transform: rotate(360deg)}
            }
        }
    }
}