<div data-ng-init="ctrl.init()" data-cg-busy="{promise:ctrl.appPromise}" data-ng-cloak="">
    <div class="dnnFormMessage dnnFormInfo" data-ng-if="ctrl.emptyData">
        <strong>{{ctrl.settings.Options.lang.noData}}</strong>
    </div>
    <div data-ng-if="ctrl.emptyData==false && ctrl.settings.Options.mics.showSeriesSelector==true">
        <select data-ng-model="ctrl.currentSeries" data-ng-options="ctrl.settings.Series.indexOf(ser) as ser for ser in ctrl.settings.Series" data-ng-change="ctrl.onSeriesChange()"></select>
    </div>
    <div data-ng-if="ctrl.emptyData==false && ctrl.settings.Options.chart.typeId<200" data-ng-style="ctrl.settings.Options.style" data-chart-settings="ctrl.settings" data-ng-high-chart=""></div>
    <div data-ng-if="ctrl.emptyData==false && ctrl.settings.Options.chart.typeId==200" data-ng-style="ctrl.settings.Options.style" data-chart-settings="ctrl.settings" data-ng-org-chart=""></div>
    <canvas data-ng-if="ctrl.emptyData==false && ctrl.settings.Options.chart.typeId==255" data-ng-style="ctrl.settings.Options.style" data-chart-settings="ctrl.settings" data-ng-goal-chart=""></canvas>
</div>