//
// Help icon
//

.help-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: em(24);
    min-width: em(24);
    height: em(24);
    border: 1px solid currentColor;
    border-radius: 50%;
    color: $color-primary-dark;
    cursor: help;
    font-family: 'Open Sans', sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1;
    text-indent: 1px;
}

.pension-highlight .help-icon {
    position: absolute;
    top: -#{rem(2)};
    right: rem(16);

    @media (min-width: 500px) {
        right: 0;
    }

    @media (min-width: 900px) {
        top: 0;
    }

}

.tooltipster-sidetip .tooltipster-box {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
    font-size: rem(16);
}

.tooltipster-sidetip .tooltipster-content {
    padding: em(8);
    line-height: 1.35;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: $color-primary-light;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: $color-primary-light;
}