//
// Component: Tabs
//

.tabs {
    position: relative;
    padding-top: rem(8);
    padding-bottom: rem(10);
    color: $color-primary-dark;
    font-family: 'Open Sans', sans-serif;
    font-size: rem(12);
    font-weight: 400;
    line-height: 1;
    text-align: center;

    @media (min-width: 768px) {
        padding-top: rem(16);
        padding-bottom: rem(18);
        font-size: rem(16);
    }

}

.tabs-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.tabs-tab {
    list-style: none none;
}

.tabs-tab + .tabs-tab {
    margin-left: rem(8);

    @media (min-width: 768px) {
        margin-left: rem(10);
    }

}

.tabs-anchor,
.tabs-anchor:link,
.tabs-anchor:visited {
    display: block;
    padding-right: rem(16);
    padding-left: rem(16);
    color: currentColor;
    text-decoration: none;

    @media (min-width: 768px) {
        padding-right: rem(20);
        padding-left: rem(20);
    }

}

.tabs-icon {
    display: block;
    width: rem(28);
    height: rem(28);
    margin-right: auto;
    margin-left: auto;
    fill: $color-primary-dark;

    @media (min-width: 768px) {
       width: rem(38);
       height: rem(38);
    }

}

.tabs-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(3);
    background-color: $color-primary-dark;
    list-style: none none;

    @media (min-width: 768px) {
        height: rem(4);
    }

}

.tabcontent {
    padding-top: rem(32);
    padding-bottom: rem(56);

    h2 {
        margin-bottom: rem(32);
    }

    h3 {
        margin-top: rem(32);
        margin-bottom: rem(24);
    }

    @media (min-width: 768px) {
        padding-top: rem(64);
        padding-bottom: rem(120);

        h2 {
            margin-bottom: rem(48);
        }

        h3 {
            margin-top: rem(48);
        }

    }

}

.tabheader {
    display: flex;
    align-items: center;
    margin-bottom: rem(32);

    &:not(:first-child) {
        margin-top: rem(32);
    }

}

.tabheader h2 {
    margin-right: auto;
    margin-bottom: 0 !important;
}