//
// Config: Typography
//

//
// Sizes

// Small

$font-size-small-sm:    14;
$line-height-small-sm:  24;
$font-size-small-md:    14;
$line-height-small-md:  24;

// Base

$font-size-base-sm:     16;
$line-height-base-sm:   24;
$font-size-base-md:     16;
$line-height-base-md:   24;

// H1

$font-size-h1-sm:       24;
$line-height-h1-sm:     30;
$font-size-h1-md:       32;
$line-height-h1-md:     40;

// H2

$font-size-h2-sm:       20;
$line-height-h2-sm:     24;
$font-size-h2-md:       24;
$line-height-h2-md:     30;

// H3

$font-size-h3-sm:       18;
$line-height-h3-sm:     20;
$font-size-h3-md:       20;
$line-height-h3-md:     24;

//
// Font stacks

$font-family-base:      'Open Sans', sans-serif;
$font-family-headings:  $font-family-base;

//
// Responsive

$font-size-md-from:     900px;