//
// REGION: SIDEBAR
// ------------------------------------------------------------------
//

.page--content .sidebar.sidebar--left {

    @media (min-width: 720px) {
        margin-top: -#{em(60)};
    }

}

.page--content-sidebar-123 .logo-123 .Normal img {
	display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding-bottom: em(27);
    border-bottom: 1px solid #ccc;
    margin-bottom: em(30);
}

.sidebar.sidebar--left ul {
    @extend .linklist;
}

.sidebar .block {
    margin-bottom: em(24);
}