// Generic content

.content-section {
    padding: $dist-gap 0;
    max-width: 620px;

    p {
        font-size: $font-medium;
        padding: 0;
        margin: 0 0 $dist-medium 0;
    }

    a {
        text-decoration: none;
        color: $clr-primary;

        &:hover,
        &:focus {
            color: $clr-primary-dark;
            text-decoration: underline;
        }
    }
}

// No results message

.no-results-message {
    //todo
    
}

// Logo link

.logo-link {
    display: inline-block;
    border: 1px solid $clr-primary-light;
    transition: border-color .2s;
    padding: $dist-small $dist-medium;
    border-radius: 8px;
    margin-bottom: $dist-largest;
    box-shadow: $box-light;

    img {
        height: 50px;
        width: auto;
    }

    &:hover,
    &:focus {
        border-color: $clr-primary;
    }
}

// Headers

h1, h2, h3 {
    color: $clr-primary;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-weight: 600;
}

h1 { 
    font-weight: lighter;
    font-size: $font-h1;
    margin-bottom: $dist-largest;
}

h2 {
    font-size: $font-h2;
    margin-bottom: $dist-largest;
}

h3 {
    font-size: $font-h3;
}