//
// COMPONENT: ADDRESS
// ------------------------------------------------------------------
//

.address {
    padding-bottom: em(24,14);
    border-bottom: 1px solid #fff;
    margin-bottom: em(24,14);
    font-size: em(14);

    @media (min-width: 720px) {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }

}

.address__line {
    position: relative;
    display: block;
    padding-left: em(22,14);
    margin-bottom: em(6,14);
    text-decoration: none;
}

.address__line:before {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}

.address__line:last-child {
    margin-bottom: 0;
}

.address__line.address__line--address:before {
    content: 'A';
}

.address__line.address__line--phone:before {
    content: 'T';
}

.address__line.address__line--email:before {
    content: 'E';
}