<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Icatt.Azure.Access" version="1.1.0.656" targetFramework="net461" />
  <package id="Icatt.CoreLib" version="1.0.5.536" targetFramework="net461" />
  <package id="Icatt.Log4Net" version="2.1.0.771" targetFramework="net461" />
  <package id="Icatt.Logging" version="2.1.0.771" targetFramework="net461" />
  <package id="Icatt.Logging.DataAccess" version="2.1.0.771" targetFramework="net461" />
  <package id="Icatt.Logging.DbContext" version="2.1.0.771" targetFramework="net461" />
  <package id="Icatt.Logging.Entities" version="2.1.0.771" targetFramework="net461" />
  <package id="Icatt.OAuth.Contract" version="1.0.2.536" targetFramework="net461" />
  <package id="Icatt.SecureToken.Manager.TokenProvider.Contract" version="1.0.0" targetFramework="net461" />
  <package id="Icatt.SecureToken.Manager.TokenProvider.Proxy" version="1.0.0" targetFramework="net461" />
  <package id="Icatt.Security.Engine.Cryptographer.Contract" version="1.0.5.658" targetFramework="net461" />
  <package id="Icatt.Security.Engine.Cryptographer.Proxy" version="1.0.5.658" targetFramework="net461" />
  <package id="Icatt.Security.Engine.Cryptographer.Service" version="1.0.5.658" targetFramework="net461" />
  <package id="Icatt.ServiceModel" version="1.2.4.536" targetFramework="net461" />
  <package id="Icatt.Test.Stubbing" version="2.0.5.536" targetFramework="net461" />
  <package id="Icatt.Web" version="1.1.1.536" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>