<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate findValue="Sphdhv.KlantPortaal.WebHost PROD" xdt:Transform="SetAttributes" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <security xdt:Transform="Insert">
      <authentication>
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>

  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
      <securityHttpHeaders>
        <content-Security-Policy enabled="true">
          <report-uri>
            <add report-uri="https://icatt.report-uri.com/r/d/csp/enforce"/>
          </report-uri>
          <base-uri none="true"/>
          <default-src none="true"/>
          <script-src self="true" strictDynamic="false" unsafeInline="true" unsafeEval="true">
            <add source="https:"/>
          </script-src>
          <style-src self="true" unsafeInline="true">
            <add source="https://fonts.googleapis.com/ "/>
          </style-src>
          <connect-src self="true"/>
          <frame-ancestors self="true"/>
          <font-src self="true">
            <add source="https://fonts.gstatic.com"/>
          </font-src>
          <img-src self="true">
            <add source="data:"/>
          </img-src>
          <form-action>
            <add source="https://digid.nl"/>
          </form-action>
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>

</configuration>