<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LoggingDatabase"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
        connectionString="__$LoggingConnectionString$__" providerName="System.Data.SqlClient" />
    <add name="IdentityDbContext"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
        connectionString="__$IdentityConnectionString$__" providerName="System.Data.SqlClient" />
    <add name="AuditDatabase"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="__$AuditConnectionString$__" providerName="System.Data.SqlClient" />
    <add name="PensioenDbContext"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="__$PensioenConnectionString$__" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate findValue="@@serviceCertificate@@" xdt:Transform="SetAttributes" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>

  <applicationSettings>



    <Sphdhv.KlantPortaal.Host.WebHost.Properties.Settings>
      <setting name="AssertionConsumerServiceIndex"  xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">@@AssertionConsumerServiceIndex@@</value>
      </setting>
      <setting name="DigidClientCertificateSubject"  xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">@@DigidClientCertificateSubject@@</value>
      </setting>
      <setting name="DigidMedataIssuer"  xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">@@DigidMedataIssuer@@</value>
      </setting>
      <setting name="DigidResolveArtifactEndpoint"  xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">@@DigidResolveArtifactEndpoint@@</value>
      </setting>
      <setting name="DigidRequestAuthenticationEndpoint"  xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">@@DigidRequestAuthenticationEndpoint@@</value>
      </setting>
      <setting name="EnvironmentId" serializeAs="String" xdt:Locator="Match(name)"  >
        <value xdt:Transform="Replace">@@EnvironmentId@@</value>
      </setting>
      <setting name="DnnVerifyTokenEndpoint" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@DnnVerifyTokenEndpoint@@</value>
      </setting>
      <setting name="DnnMijnOmgevingUrl" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@DnnMijnOmgevingUrl@@</value>
      </setting>
      <setting name="DnnLogoffPage" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@DnnLogoffPage@@</value>
      </setting>
      <setting name="KlantPortaalBaseUrl" serializeAs="String"  xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KlantPortaalBaseUrl@@</value>
      </setting>
      <setting name="KeyVaultApplicationId" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultApplicationId@@</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprint" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultCertificateThumbprint@@</value>
      </setting>
    </Sphdhv.KlantPortaal.Host.WebHost.Properties.Settings>
    
    
    
    <Icatt.Membership.Access.User.Service.Properties.Settings>
      <setting name="ResetPasswordFrom" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@ResetPasswordFrom@@</value>
      </setting>
      <setting name="ResetPasswordSender" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@ResetPasswordSender@@</value>
      </setting>
      <setting name="ResetPasswordReplyTo" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@ResetPasswordReplyTo@@</value>
      </setting>
      <setting name="PasswordResetUrl" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@PasswordResetUrl@@</value>
      </setting>
    </Icatt.Membership.Access.User.Service.Properties.Settings>
    
    
    
    <Sphdhv.KlantPortaal.Access.Deelnemer.Service.Properties.Settings>
      <setting name="KeyVaultSecrect" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultSecrect@@</value>
      </setting>
    </Sphdhv.KlantPortaal.Access.Deelnemer.Service.Properties.Settings>
    
    
    
    <Sphdhv.KlantPortaal.Engine.Notification.Service.Properties.Settings>
      <setting name="MailHost" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@MailHost@@</value>
      </setting>
      <setting name="MailHostPort" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@MailHostPort@@</value>
      </setting>
      <setting name="VerifyEmailAddressFrom" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@VerifyEmailAddressFrom@@</value>
      </setting>
      <setting name="VerifyEmailAddressReplyTo" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@VerifyEmailAddressReplyTo@@</value>
      </setting>
      <setting name="VerifyEmailAddressDisplayName" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@VerifyEmailAddressDisplayName@@</value>
      </setting>
    </Sphdhv.KlantPortaal.Engine.Notification.Service.Properties.Settings>
    
    
    
    <Sphdhv.Klantportaal.Manager.Deelnemer.Service.Properties.Settings>
      <setting name="DnnMijnOmgevingUrl" serializeAs="String"  xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@DnnMijnOmgevingUrl@@</value>
      </setting>
    </Sphdhv.Klantportaal.Manager.Deelnemer.Service.Properties.Settings>

    <Sphdhv.DeelnemerPortalApi.Client.Properties.Settings>
      <setting name="baseUrl" serializeAs="String"  xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@baseUrl@@</value>
      </setting>
      <setting name="CertificateSubject" serializeAs="String"  xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@CertificateSubject@@</value>
      </setting>
    </Sphdhv.DeelnemerPortalApi.Client.Properties.Settings>

    <Icatt.Auditing.Access.AuditTrail.Service.Properties.Settings>

      <setting name="KeyVaultAuditSecrect" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">@@KeyVaultAuditSecrect@@</value>
      </setting>
    </Icatt.Auditing.Access.AuditTrail.Service.Properties.Settings>
    
  </applicationSettings>

  <system.webServer>


    <handlers>
      <remove xdt:Transform="Insert" name="Helicon.Ape Handler" />
      <add xdt:Transform="Insert" name="Helicon.Ape Handler" path="*.apehandler" verb="*" type="Helicon.Ape.Handler, Helicon.Ape, Version=3.1.0.248, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>

    <modules>
      <remove xdt:Transform="Insert" name="Helicon.Ape" />
      <add xdt:Transform="Insert" name="Helicon.Ape" type="Helicon.Ape.ApeModule, Helicon.Ape, Version=3.1.0.248, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" />
    </modules>

    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             value="@@Content-Security-Policy@@" />
        <add xdt:Transform="Insert"
             name="Strict-Transport-Security" value="max-age=31536000" />
      </customHeaders>
    </httpProtocol>


    <security xdt:Transform="Insert">
      <authentication>      
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>


  </system.webServer>
  
</configuration>