<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate findValue="Sphdhv.KlantPortaal.WebHost PROD" xdt:Transform="SetAttributes" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add xdt:Transform="Insert"
             name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Content-Security-Policy-Report-Only"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             value="report-uri https://icatt.report-uri.com/r/d/csp/reportOnly;  default-src 'self' https://fonts.googleapis.com/;  connect-src 'self'; font-src 'self' https://fonts.gstatic.com; form-action https://digid.nl; img-src 'self' data:; script-src 'unsafe-eval' 'unsafe-inline' https://cdn.icatt-services.nl/; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ " />
        
      </customHeaders>
    </httpProtocol>

    <security xdt:Transform="Insert">
      <authentication>      
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>

  </system.webServer>
  
</configuration>