<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate findValue="Sphdhv.KlantPortaal.WebHost ACCEPT" xdt:Transform="SetAttributes" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>

    <handlers>
      <remove xdt:Transform="Insert" name="Helicon.Ape Handler" />
      <add xdt:Transform="Insert" name="Helicon.Ape Handler" path="*.apehandler" verb="*" type="Helicon.Ape.Handler, Helicon.Ape, Version=3.1.0.256, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>

    <modules>
      <remove xdt:Transform="Insert" name="Helicon.Ape" />
      <add xdt:Transform="Insert" name="Helicon.Ape" type="Helicon.Ape.ApeModule, Helicon.Ape, Version=3.1.0.256, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" />
    </modules>
    
    <security xdt:Transform="Insert">
      <authentication>      
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>

  </system.webServer>
  
</configuration>