/*container voor module control*/
.responseListControlContainer {}

/*container panel configmessage text getoond als modulesettings nog niet ingevuld*/
.responseListControlContainer .configMessage 
{
	font-size:1.2em;
	font-weight:bold;
	color:Red;
}

 /*container list (parent responseListItem)*/
.responseListControlContainer .list{border-style: dashed;border-width:0px 0px 1px 0px;border-color:#cccccc;}

 /*container complete item (parent header,response en footer)*/
.responseListControlContainer .list .item{float:none;}

 /*container item header*/
.responseListControlContainer .list .item .header{width:100%;height:0px;background-color:white; border-style: dashed;border-width:1px 0px 0px 0px;border-color:#cccccc;}

 /*container item response HTML*/
.responseListControlContainer .list .item .text{background-color:#dddddd;margin:2px 4px 2px 4px;}

 /*container item footer met tijd en user*/
.responseListControlContainer .list .item .footer{margin: 0px 4px 20px 4px;color:#7777777}

 /*pagina navigatie*/
.responseListControlContainer .pageNav {margin: 10px 4px 2px 4px;width:100%; font-size:1.2em;}
.responseListControlContainer .pageNav .current{ font-weight:bold;}
.responseListControlContainer .pageNav a:hover{ text-decoration: underline overline;font-weigth:bold;}

 /*control header*/
.responseListControlContainer .controlHeader{width:100%;height:15px;} /*border:solid red 1px;*/
.responseListControlContainer .controlHeader .title{float:left;font-weight:bold;font-size:1.2em; vertical-align:bottom;margin-left:4px;}
.responseListControlContainer .controlHeader .aantalReacties {float:right; vertical-align:bottom;margin-right:4px;}

/*control header if no responses*/
.responseListControlContainer .noresponseHeader



.nieuwsDetail .reacties {
	
	}