[*.cs]

# SCS0001: Command injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0001.severity = error

# SCS0005: Weak random generator
dotnet_diagnostic.SCS0005.severity = error

# SCS0002: LINQ API: SQL injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0002.severity = error

# SCS0003: XPath injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0003.severity = error

# SCS0004: Certificate Validation has been disabled
dotnet_diagnostic.SCS0004.severity = error

# SCS0006: Weak hashing function
dotnet_diagnostic.SCS0006.severity = error

# SCS0007: XML parsing vulnerable to XXE
dotnet_diagnostic.SCS0007.severity = error

# SCS0008: The cookie is missing security flag Secure
dotnet_diagnostic.SCS0008.severity = error

# SCS0009: The cookie is missing security flag HttpOnly
dotnet_diagnostic.SCS0009.severity = error

# SCS0010: Weak cipher algorithm
dotnet_diagnostic.SCS0010.severity = error

# SCS0011: CBC mode is weak
dotnet_diagnostic.SCS0011.severity = error

# SCS0012: ECB mode is weak
dotnet_diagnostic.SCS0012.severity = error

# SCS0013: Weak cipher mode
dotnet_diagnostic.SCS0013.severity = error

# SCS0014: Possible SQL injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0014.severity = error

# SCS0015: Hardcoded password
dotnet_diagnostic.SCS0015.severity = error

# SCS0016: Controller method is vulnerable to CSRF
dotnet_diagnostic.SCS0016.severity = error

# SCS0017: Request validation disabled in base class
dotnet_diagnostic.SCS0017.severity = error

# SCS0018: Path traversal: injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0018.severity = error

# SCS0019: OutputCache annotation is disabling authorization checks
dotnet_diagnostic.SCS0019.severity = error

# SCS0020: OleDb API: SQL injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0020.severity = error

# SCS0021: Request validation has been disabled in {0}({1}): {2}
dotnet_diagnostic.SCS0021.severity = error

# SCS0022: Event validation is disabled in {0}({1}): {2}
dotnet_diagnostic.SCS0022.severity = error

# SCS0023: View state is not encrypted in {0}({1}): {2}
dotnet_diagnostic.SCS0023.severity = error

# SCS0024: View state mac is disabled in {0}({1}): {2}
dotnet_diagnostic.SCS0024.severity = error

# SCS0025: Odbc API: SQL injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0025.severity = error

# SCS0026: MsSQL Data Provider: SQL injection possible in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0026.severity = error

# SCS0027: Open redirect: possibly unvalidated input in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0027.severity = error

# SCS0028: Possibly unsafe deserialization
dotnet_diagnostic.SCS0028.severity = error

# SCS0029: Potential XSS vulnerability
dotnet_diagnostic.SCS0029.severity = error

# SCS0030: Request validation is enabled only for pages, not for all HTTP requests. {0}({1}): {2}
dotnet_diagnostic.SCS0030.severity = error

# SCS0031: Possible LDAP injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0031.severity = error

# SCS0032: The RequiredLength property of PasswordValidator should be set to at least {0}
dotnet_diagnostic.SCS0032.severity = error

# SCS0033: Less than {0} properties set in PasswordValidator declaration
dotnet_diagnostic.SCS0033.severity = error

# SCS0034: The {0} property must be set
dotnet_diagnostic.SCS0034.severity = error

# SCS0035: Possible SQL injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0035.severity = error

# SCS0036: Possible SQL injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0036.severity = error

# SCS0037: Possible nHibernate SQL injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0037.severity = error

# SCS0038: Possible CQL injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0038.severity = error

# SCS0039: Possible NPGSQL injection in {1} argument passed to '{0}'
dotnet_diagnostic.SCS0039.severity = error
