html, body { background: none; }

/* Hide these divs */
.ControlPanel, #backstretch, .LeftPane, .RightPane ,#footer, #article-options, #article-header span, #metamenu, #searchbox { display: none; }

#header { height: 0px; margin: 0; }
#header:before { font-size: 24px; font-weight: bold; content: "Stichting Pensioenfonds DHV"; }

/* Set Header Colors */
.vervolgskin #article-header h1, .vervolgskin #article-header h2, .vervolgskin #article-header h3 { color: #000 !important; }
.vervolgskin .ContentPane h1, .vervolgskin .ContentPane h2, .vervolgskin .ContentPane h3, .vervolgskin .ContentPane h4, .vervolgskin .ContentPane h5, .vervolgskin .ContentPane h6 { color: #000 !important; }

/* Set Paragraph Color */
.vervolgskin .ContentPane p.intro { color: #000 !important; }

/* Set Hyperlink Color + href printing */
.vervolgskin .ContentPane p a { color: Blue; }
.vervolgskin .ContentPane p a[href^="http://"]:after { content: " (" attr(href) ")";  }