// Colors

$clr-primary: #00577e;
$clr-primary-dark: #004765;
$clr-primary-light: rgb(180, 213, 228);
$clr-secondary: #0086a8;
$clr-special: rgba(0,134,168,.25);
$clr-front: #FFF;
$clr-back: #000;

// Font size

$font-small: 14px;
$font-medium: 16px;
$font-h1: 32px;
$font-h2: 24px;
$font-h3: 20px;

// Distance

$dist-small: 6px;
$dist-medium: 12px;
$dist-large: 24px;
$dist-largest: 32px;
$dist-gap: 64px;

// Media

$media-mobile: 600px;
$media-tablet-portrait: 768px;
$media-tablet-landscape: 992px;
$media-tablet-desktop: 1200px;

// Box shadows

$box-light: 0 5px 10px -11px rgba(0,0,0,.5);
$box-medium: 0 10px 20px -11px rgba(0,0,0,.1);