//
// REGION: BREADCRUMBS
// ------------------------------------------------------------------
//

$breadcrumbs-chevron-size: 20;
$breadcrumbs-font-size: 14;

.page__breadcrumbs {
    background-color: #fff;
    color: #333;
    font-size: rem($breadcrumbs-font-size);
    font-weight: 700;
    line-height: (24/$breadcrumbs-font-size);
}

.page__breadcrumbs__inner {
    @extend .container;
}

.page__breadcrumbs ul {
    display: none;

    @media (min-width: 720px) {
        display: block;
        padding: em(15,$breadcrumbs-font-size) 0;
    }

}

.page__breadcrumbs li {
    display: flex;
    align-items: center;
    margin-right: em(8,$breadcrumbs-font-size);
}

.page__breadcrumbs li:after {
    display: block;
    width: em($breadcrumbs-chevron-size,$breadcrumbs-font-size);
    height: em($breadcrumbs-chevron-size,$breadcrumbs-font-size);
    margin-left: em(8,$breadcrumbs-font-size);
    background: url(../img/entypo/light-blue/chevron-small-right.svg) no-repeat 0 0;
    background-size: em($breadcrumbs-chevron-size,$breadcrumbs-font-size);
    content: '';
    vertical-align: middle;
}

.page__breadcrumbs li:last-child {
    margin-right: 0;
}

.page__breadcrumbs li:last-child:after {
    display: none;
}

.page__breadcrumbs li.is-active {
    font-weight: 400;
}

.page__breadcrumbs a {
    display: block;
    text-decoration: none;
}

.page__breadcrumbs .mobile-back-link {
    display: inline-flex;
    align-items: center;
    padding-top: em(12,$breadcrumbs-font-size);
    padding-bottom: em(12,$breadcrumbs-font-size);

    &:before {
        display: block;
        width: em($breadcrumbs-chevron-size,$breadcrumbs-font-size);
        height: em($breadcrumbs-chevron-size,$breadcrumbs-font-size);
        margin-left: -#{em(4,$breadcrumbs-font-size)}; // fix svg artboard whitespace
        background: url(../img/entypo/light-blue/chevron-small-left.svg) no-repeat 0 0;
        background-size: em($breadcrumbs-chevron-size,$breadcrumbs-font-size);
        content: '';
    }

    @media (min-width: 720px) {
        display: none;
    }

}