//
// BLOCKS
// ------------------------------------------------------------------
//

.block {
    margin-bottom: em(16);
    padding: em(20);
    border-radius: em(4);
    font-size: rem(16);

    @media (min-width: 720px) {
        margin-bottom: 0;
    }

}

// Primary dark blue block

.block.block--primary-dark-blue {
    background-color: $color-primary-dark-blue;
    color: #fff;
}

// Primary light blue block

.block.block--primary-light-blue {
    background-color: rgba($color-primary-light-blue,0.75);
    color: #fff;
}

// White block

.block.block--white {
    background-color: #fff;
    color: #333;
}

.block__title {
    margin-bottom: em(16,18);
    font-size: em(18);
    letter-spacing: .5px;
    line-height: (24/18);
    text-transform: uppercase;
}

.news-pane .block__title {

    @media (min-width: 720px) {
        margin-bottom: em(20);
    }

}

// Block type

.block > :last-child {
    margin-bottom: 0;
}

.block.block--primary-dark-blue .block__title,
.block.block--primary-light-blue .block__title {
    color: #fff;
}

.block.block--white .block__title {
    color: $color-primary-dark-blue;
}

.block.block--white a {
    color: $color-primary-light-blue;
}

.coverage-pane .block p,
.payment-pane .block p,
.situation-pane .block p {
    margin-bottom: em(16,18);
}

.coverage-pane .block__title,
.payment-pane .block__title,
.situation-pane .block__title {
    padding-left: em(32,18);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: em(24,18) em(24,18); // IE11 needs two values
}

.coverage-pane .block__title {
    background-image: url(../img/entypo/dark-blue/bar-graph.svg);
}

.payment-pane .block__title {
    background-image: url(../img/entypo/dark-blue/calendar.svg);
}

.situation-pane .block__title {
    background-image: url(../img/entypo/dark-blue/user.svg);
}