<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="Icatt.Azure.Access" version="1.0.5" targetFramework="net461" />
  <package id="Icatt.CoreLib" version="1.0.4" targetFramework="net461" />
  <package id="Icatt.Data.Entity" version="1.0.0.2" targetFramework="net461" />
  <package id="Icatt.Security.Engine.Cryptographer.Contract" version="1.0.5" targetFramework="net461" />
  <package id="Icatt.Security.Engine.Cryptographer.Proxy" version="1.0.5" targetFramework="net461" />
  <package id="Icatt.Security.Engine.Cryptographer.Service" version="1.0.5" targetFramework="net461" />
  <package id="Icatt.ServiceModel" version="1.2.3" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault" version="2.3.2" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="2.0.7" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.8" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
</packages>