<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <Dhv.AutomatedUITest.Properties.Settings>
      <setting name="Url" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>https://mijnsphdhv.test.icatt.nl/</value>
      </setting>
    </Dhv.AutomatedUITest.Properties.Settings>
  </applicationSettings>
</configuration>
