
.search_box { color:#666666; font-size:110%; font-weight:normal; text-align:left; vertical-align:middle; border: 1px #CCCCCC solid; margin:4px; padding: 12px 8px 0px 8px; height:30px; }

/* Span om Result Page tekst in page navigation */
span.PageNavResultPage 
{
}

/* Span om Previous Next tekst in page navigation */
.PageNavPreviousNext a 
{
	font-size:12px;
}


a.PageNavPageNr,.ActivePageNavPageNr
{
	font-size:12px;
}
td.ActivePageNavPageNr
{
	border:solid 1px #CCCCCC;
}

.ActivePageNavPageNr
{
	font-weight:bold;
}



a.VenexusSearch_Title, 
a.VenexusSearch_Title:link, 
a.VenexusSearch_Title:visited, 
a.VenexusSearch_Title:hover, 
a.VenexusSearch_Title:active {color:#990000; font-weight:bold; font-size:13px;}

a.VenexusSearch_Title font, .VenexusSearch_Desc font {color:#000; font-style:italic; text-decoration:underline; font-size:13px;}

span.VenexusSearch_Url span {color:#007D9D; font-size:13px;}
