@using NWebsec.Mvc.HttpHeaders.Csp
@model Sphdhv.KlantPortaal.Host.WebHost.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
    <div>



        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = @Model.Destination }))
        {
            foreach (var pair in Model.Parameters)
            {
                @Html.Hidden(pair.Name, pair.Value)
            }
        }


        <script type="text/javascript" @Html.CspScriptNonce()>
            document.forms[0].submit();
        </script>

    </div>
</body>
</html>