<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KlantportaalReEncryptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <KlantportaalReEncryptor.Properties.Settings>
      <setting name="KeyVaultCertificateThumbprintOntwikkel" serializeAs="String">
        <value>67a674bd68a281d117648e1db4a19fcafae61972</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprintAccept" serializeAs="String">
        <value>3E416BE5BE39EF7A62F0C76D0DDA7AE5C78E79FA</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprintProductie" serializeAs="String">
        <value>718B84C093BEE60932CF680169D95050AACEDBDE</value>
      </setting>
      <setting name="KeyVaultSecrectOld" serializeAs="String">
        <value>https://sphdhvdeelnemerdev.vault.azure.net/secrets/SPHDHVDeelnemerKeyDev/740867e48eec4331ae13d9d81541d04a</value>
      </setting>
      <setting name="KeyVaultSecrectNew" serializeAs="String">
        <value>https://sphdhvdeelnemerdev.vault.azure.net/secrets/SPHDHVDeelnemerKeyDev/8a8850b20c764f4ab9ec6ae544000a6c</value>
      </setting>
      <setting name="KeyVaultApplicationId" serializeAs="String">
        <value>4bb4eb36-fb4a-4a83-b7e7-e502c07fb84b</value>
      </setting>
    </KlantportaalReEncryptor.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>