.chart-module-container {
    display: inline-block;
    width: 100%;
}

.goal-dsTable th, .goal-dsTable td {
    white-space: nowrap;
}

.form-group {
    margin-bottom: 5px !important;
}

.form-group-sm input.form-control,
.form-group-sm input.form-control2,
.form-group-sm input.form-control3 {
    padding: 3px !important;
    margin: 5px 0px !important;
    height: 25px !important;
    max-width: 90%;
}

.form-group-cdata input.form-control {
    width: 45px;
}

.form-group-cdata input.form-control2 {
    width: 70px;
}

table.chart-data tbody tr td {
    padding: 0 10px 0 0;
}

    table.chart-data tbody tr td span.color {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin: 3px;
    }

legend {
    margin-bottom: 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.edit-form .form-group .horizontal-group input[type=number] {
    display: initial;
}

.exportTo {
    float: right;
}

.highcharts-menu hr {
    margin: 0px;
    padding: 0px;
}

.edit-form .ui-tabs-nav li.ng-invalid {
    border: solid 2px red;
    color: red;
    font-weight: bold;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    background-color: #fbf3f3;
    border: 0.5px solid #bdbdbd;
}

body .ui-tooltip {
    border-width: 2px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.edit-form .ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 220px;
    overflow: auto;
    padding: 0px !important;
    margin: 0 0 10px 0 !important;
}

.edit-form .ui-tabs-vertical .ui-tabs-panel {
    padding-left: 15px;
    float: left;
    display: inline-table;
    width: calc(100% - 235px);
}

.edit-form ul.dnnVerticalTabs li.ui-tabs-active a {
    font-weight: bold;
    background: #ccacac;
    color: white;
}

.edit-form .dnnVerticalTabs li a {
    padding: 3px 10px;
    font-size: 14px;
}

.edit-form .tabName {
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 8px;
    font-size: 20px;
    padding-left: 15px;
    float: left;
    display: inline-table;
    width: calc(100% - 235px);
}

.chart-module-container button.btn-small {
    padding: 3px 6px;
    margin-bottom: 5px;
}

.edit-form .btn-primary:focus,
.edit-form .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.edit-form .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.edit-form .btn-primary:active,
.edit-form .btn-primary.active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


.edit-form {
    padding: 7px;
    border: solid 1px #c8b5b5;
    background-color: white;
    border-radius: 4px;
}

    .edit-form .setup-header-row {
        background: rgba(196, 222, 244, 0.15);
        padding: 10px;
    }

    .edit-form .form-group input,
    .edit-form .form-group select {
        max-width: 90%;
        padding: 3px !important;
        margin: 0px !important;
        background: #fff !important;
    }

    .edit-form .form-group > label {
        padding: 0px !important;
        margin: 0px !important;
        display: inline-block;
        font-weight: 700;
        font-size: 1em;
    }

    .edit-form fieldset {
        border: solid 1px #b99c9c;
        margin: 0 8px 8px 0;
        padding: 10px 10px 0 10px;
    }

        .edit-form fieldset legend {
            border: solid 1px #b99c9c;
            padding: 2px;
            margin: 0px !important;
        }

    .edit-form .label-warning {
        padding: 2px !important;
    }

    .edit-form input[type=number], .edit-form input[colorpicker=hex] {
        max-width: 75px;
    }

    .edit-form .ng-invalid {
        border: solid 1.5px red !important;
        color: red;
        font-weight: bold;
    }

    .edit-form .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .edit-form .btn-primary {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
    }

    .edit-form .btn[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

    .edit-form fieldset .btn {
        padding: 3px 6px;
        margin-bottom: 5px;
    }

    .edit-form textarea {
        width: 90%;
    }

    .edit-form .form-group input[type=text],
    .edit-form .form-group input[type=number],
    .edit-form .form-group select,
    .edit-form .form-group textarea {
        display: block;
    }

    .edit-form .info-box {
        padding: 0px;
        margin: 0px;
        color: #333333;
        font-weight: normal;
    }

.colorpicker {
    z-index: 1000000 !important;
}

.wi-icon {
    margin: 0 5px 0 0;
    font-weight: bold;
}

.wi-icon-remove:before {
    content: "x";
}

.wi-icon-plus:before {
    content: "+";
}

.setupForm ul.dnnVerticalTabs,
.setupForm ul.dnnVerticalTabs li {
    padding: 0px !important;
    margin: 0px !important;
}

.color-form-group input {
    display: inline !important;
}

.color-form-group span.color-square {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    display: inline-block;
}

img[data-ng-tooltip] {
    margin-bottom: 3px;
}

    img[data-ng-tooltip]:hover {
        background-color: #e9e2f0;
        border-radius: 5px;
    }

.module-ver {
    right: 10px;
    bottom: 7px;
    position: absolute;
}

.edit-form .footer-buttons .btn {
    margin-right: 7px;
}