//
// VARIABLES
// ------------------------------------------------------------------
//

$font-base: 'Open Sans', sans-serif !default;

//
// COLORS
//

$color-primary-dark-blue: #00567d;
$color-primary-dark-blue-75: tint($color-primary-dark-blue, 25%);
$color-primary-dark-blue-50: tint($color-primary-dark-blue, 50%);
$color-primary-dark-blue-25: tint($color-primary-dark-blue, 75%);
$color-primary-dark-blue-10: tint($color-primary-dark-blue, 90%);

$color-primary-light-blue: #0086a8;
$color-primary-light-blue-75: tint($color-primary-light-blue, 25%);
$color-primary-light-blue-50: tint($color-primary-light-blue, 50%);
$color-primary-light-blue-25: tint($color-primary-light-blue, 75%);
$color-primary-light-blue-10: tint($color-primary-light-blue, 90%);

$color-primary-green: #c7d300;
$color-primary-green-75: tint($color-primary-green, 25%);
$color-primary-green-50: tint($color-primary-green, 50%);
$color-primary-green-25: tint($color-primary-green, 75%);
$color-primary-green-10: tint($color-primary-green, 90%);