//
// Base: Buttons
//

//
// Button config

// sm

$button-height-sm:      32;
$button-font-size-sm:   14;

// md

$button-height-md:      40;
$button-font-size-md:   16;

.button {
    display: inline-block;
    padding: em(9,$button-font-size-sm);
    border: none;
    border-radius: em(3,16);
    font-family: 'Open Sans', sans-serif;
    font-size: rem($button-font-size-sm);
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-in-out 0s;
    outline: none;
    white-space: nowrap;

    @media (min-width: 900px) {
        padding: em(12,$button-font-size-md);
        font-size: rem($button-font-size-md);
    }
}

.button--primary,
.button--primary:link,
.button--primary:visited {
    background-color: #0086a8;
    box-shadow: 0 em(2) 0 0 $color-primary-dark;
    color: #fff;
    font-weight: 600;

    &:hover {
        background-color: #40a4be;
        box-shadow: 0 em(2) 0 0 $color-primary-light;
        color: #fff;
    }

}

.button--secondary,
.button--secondary:link,
.button--secondary:visited {
    padding: em(9,$button-font-size-sm) em(9,$button-font-size-sm) em(8,$button-font-size-sm) em(9,$button-font-size-sm);
    border: 1px solid rgb(191,213,223);
    border-bottom: 0;
    background-color: rgb(229,243,246);
    box-shadow: 0 em(2) 0 0 rgb(191,213,223);
    color: rgb(51,51,51);
    font-weight: 400;

    &:hover {
        border-color: rgb(204,221,229);
        background-color: rgb(234,245,248);
        color: rgb(51,51,51);
    }

    @media (min-width: 900px) {
        padding: em(11,$button-font-size-md) em(12,$button-font-size-md) em(12,$button-font-size-md) em(12,$button-font-size-md);
    }

}

.button--link,
.button--link:link,
.button--link:visited {
    font-weight: 400;
}

.button--icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: em(12,$button-font-size-sm);
}

@media (max-width: 999px) {

    .button--icon::after {
        margin-left: rem(8);
        content: attr(title);
    }

}

.button--icon svg {
    width: rem(16);
    height: rem(16);
    fill: currentColor;
}

.button-group {
    margin-top: rem(24);

    &:not(:last-child) {
        margin-bottom: rem(24);
    }

    .button + .button {
        margin-left: rem(16);
    }

}