//
// Base: Layout
//

$grid-mq-md-min: 768px;
$grid-mq-lg-min: 900px;

$grid-mq-sm-max: $grid-mq-md-min - 1px;
$grid-mq-md-max: $grid-mq-lg-min - 1px;

.grid {
    @include clearfix;
    @include grid-collapse;
}

@for $i from 1 through 12 {

    @media (max-width: $grid-mq-sm-max) {

        .col-span-#{$i}-sm {
            @include grid-column($i);
        }

    }

    @media (min-width: $grid-mq-md-min) and (max-width: $grid-mq-md-max) {

        .col-span-#{$i}-md {
            @include grid-column($i);
        }

    }

    @media (min-width: $grid-mq-lg-min) {

        .col-span-#{$i}-lg {
            @include grid-column($i);
        }

    }

}