<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sphdhv.KlantPortaal.Engine.Notification.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Sphdhv.KlantPortaal.Engine.Notification.Service.Properties.Settings>
      <setting name="MailHost" serializeAs="String">
        <value>ffgdfgdfd</value>
      </setting>
      <setting name="VerifyEmailAddressFrom" serializeAs="String">
        <value>fdjkgbdm.hb@mdngmdbhrg.dfdh</value>
      </setting>
      <setting name="VerifyEmailAddressReplyTo" serializeAs="String">
        <value>wrtdfvxfh.ertdgbc@sfg.frtuy</value>
      </setting>
      <setting name="VerifyEmailAddressSubject" serializeAs="String">
        <value>ghcvbcvbv</value>
      </setting>
      <setting name="VerifyEmailAddressDisplayName" serializeAs="String">
        <value>ghfdhdgfdfd</value>
      </setting>
      <setting name="MailHostPort" serializeAs="String">
        <value>1</value>
      </setting>      
    </Sphdhv.KlantPortaal.Engine.Notification.Service.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>