<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sphdhv.DnnWebApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Sphdhv.DnnWebApi.Properties.Settings>
      <setting name="ApplicationId" serializeAs="String">
        <value>Sphdhv.DnnHost</value>
      </setting>
      <setting name="EnvironmentId" serializeAs="String">
        <value>Dev</value>
      </setting>
      <setting name="LogOffUrl" serializeAs="String">
        <value>/LogOff</value>
      </setting>
      <setting name="KlantPortaalEndpoint" serializeAs="String">
        <value>https://localhost:44304/</value>
      </setting>
    </Sphdhv.DnnWebApi.Properties.Settings>
  </applicationSettings>
</configuration>