<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReEncryptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="LoggingDatabase" connectionString="Data Source=OTA-DB.ICATT.LOCAL;Initial Catalog=SPHDHV.KlantPortaal.DEV.Audit;User ID=SPHDHV.KlantPortaal.DEV.Audit;Password=sgf345^%$bF4*#gH)9!fcF$#gvgvf67uy3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <ReEncryptor.Properties.Settings>
      <setting name="Omgeving" serializeAs="String">
        <value>Ontwikkel</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>LoggingDatabase</value>
      </setting>
      <setting name="KeyVaultAuditSecrectOld" serializeAs="String">
        <value>https://sphdhvauditdev.vault.azure.net/secrets/SphdhvKlantPortaalAuditKeyDEV/752d3a4ae0814700b0a5b8ffc60e01c6</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprint" serializeAs="String">
        <value>430E933F3A11CA44EDA086849C4781240A916FB0</value>
      </setting>
      <setting name="KeyVaultApplicationId" serializeAs="String">
        <value>81732dd5-256c-4b50-afa6-54d01e74838f</value>
      </setting>
    </ReEncryptor.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>