.Announcement {
    width: calc(100% - #{em(28)});
    max-width: em(940);
    padding: em(20) em(18);
    border-radius: em(4);
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    font-size: rem(16);
}

.Announcement .Normal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Announcement .Normal p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: (22/16);
}

.Announcement .Normal p:nth-child(1) {
    flex: 1;
    width: 100%;
    padding-left: em(40);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAfBJREFUOI2tlT1oU2EUhp9zrGRo0RQUVJCgoGKFCuIguIhOiVP15uLipgXRrmLKvVVMVDp3EDq5mpS6tAbBpSKOFhTr5g92qkIN6hDE7zi0Nrm3X0IDnvGc9zzfe/j+BF/kxzL0Z0dQzmM2DOQAEPkEvMUxz6/vT6hPNdOtsgkWTOQR9xCRnHexf2H2GdNrzNytt6c1IQrjcdSepmCXqZaFallwXG9ZkRzi5gniyA8MohJwb5MT55pt6m+JmoiglAnj8SSwGJ1FPLC1pl2tMV3GqzGrEEycAxDyYxkGsksIB73iLYd94UfjUB8D2Yt+mK1i8ibplr3AYT9Q9tO/I+hDrODbbJDn1MphIhXGIfC4o0nRgmKc7D5KT3FCgX3ektkwYXSHYmmoB+Ae7VgSOQJyG9NjW8YJqgjLPTjoHsayYrL434Bii4q4Of9q1sBYQHRlI+dsBWMBsz/eHidz6wd753tEDqSAM9QqRW9jMZ5FGEnpP/KzcVTXn6ArgEvaF+s8W8qhmWF6lfpUs3Wig/gmymRLxDvMbnh5ygOQU23EW1Qrk5C+IkFUQuV+Z2dpo2ZATK2y8bBsSwiWXrxk6Mwr4DTCYHcYH0AvUSs/ak/7LjGMjm5ndfcFRAvAcYwcmKx9AfYas2cMfp1levp3uvUvEXGet8LyFDIAAAAASUVORK5CYII=');
    background-position: left top em(1);
    background-repeat: no-repeat;
    background-size: em(20) em(20);
}

.Announcement .Normal p:nth-child(2) {
    margin-left: em(16);
}

.Announcement .Normal a {
    color: $color-primary-light-blue;
    text-decoration: underline;

    &:hover {
        color: $color-primary-light-blue-50;
    }

}

.Announcements .DnnModule:first-child {
    margin-top: rem(40);
}

.Announcements .DnnModule:not(:first-child) {
    margin-top: rem(10);
}

@media (max-width: 719px) {

    .Announcement .Normal {
        flex-direction: column;
    }

    .Announcement .Normal p:nth-child(2) {
        margin-top: em(8);
        margin-left: em(40);
    }

}

@media (min-width: 720px) {

    .Announcement .Normal p:nth-child(1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}