//
// Region: Page
//

.page,
.page-ie {
    display: flex;
    width: 100%;
}

.page-ie {
    flex-direction: row;
}

.page {
    flex-direction: column;
    min-height: 100vh;
}

.page > div {
    flex: none;
}

.page > .main {
    flex: 1 0 auto;
}