//
// Component: Back link
//

.backlink {
    display: flex;
    align-items: center;
    float: left;
    padding-top: em(14,14);
    padding-bottom: em(14,14);
    color: #fff !important;
    font-size: rem(14);
    line-height: (20/14);
    text-decoration: none;

    &:hover {
        color: map-get($colors, dark-4) !important;
    }

}

.backlink svg {
    width: em(16,14);
    height: em(16,14);
    margin-right: em(12,14);
    fill: currentColor;
}