//
// Component: Dropdown
//

.dropdown {
    position: relative;
    display: inline-block;

    &::after {
        position: absolute;
        top: calc(50% - #{rem(12)});
        right: rem(6);
        display: block;
        width: rem(24);
        height: rem(24);
        background-color: #e5f3f6;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2hldnJvbl9zbWFsbF9kb3duIiBkYXRhLW5hbWU9IkNoZXZyb24gc21hbGwgZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgOS4yIDUuMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzMzM7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5BcnRib2FyZCAxPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04LC4yYS43LjcsMCwwLDEsMSwwLC42OC42OCwwLDAsMSwwLDFMNS4wOSw1YS43LjcsMCwwLDEtMSwwTC4yLDEuMTdhLjY4LjY4LDAsMCwxLDAtMSwuNy43LDAsMCwxLDEsMEw0LjYsMy4zNFoiLz48L3N2Zz4=);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
        content: '';
        pointer-events: none;
        transition: all 0.15s ease-in-out 0s;
    }

    &:hover::after {
        background-color: #eaf5f8;
    }
}

.dropdown-select {
    @extend .button;
    @extend .button--secondary;
    min-width: rem(120);
    padding-right: rem(32) !important;
    appearance: none;
    cursor: pointer;
    outline: none;
}

@media all and (-ms-high-contrast: none) {

    *::-ms-backdrop, .dropdown::after {
        right: rem(10);
    }
    
    *::-ms-backdrop, .dropdown-select {
        padding-right: 13px !important; // 19 (default arrow) + 13
        background-image: none !important;
    }

}