//
// Footer
//

.footer {
    padding-top: em(24,14);
    padding-bottom: em(24,14);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
}

.footer > div {
    position: relative;
}

.footer p {
    font-size: inherit;
}

.footer a {
    color: inherit;
}

[class*="footer-"][class*="-logo"] {
    display: block;
    height: auto;

    @media (min-width: 720px) {
        position: absolute;
        top: 0;
    }

}

.footer-primary-logo {
    height: auto;

    &[src*="logo.svg"] {
        display: none;
        left: 0;
        width: rem(260);

        @media (min-width: 900px) {
            display: block;
        }
    }

    &[src*="logo_block.svg"] {
        display: block;
        width: 100%;
        max-width: rem(150);

        @media (min-width: 900px) {
            display: none;
        }
    }
}

.footer-secondary-logo {
    width: rem(212);

    @media (min-width: 720px) {
        right: 0;
    }

}

.footer-address {
    padding-bottom: em(24,14);
    border-bottom: 1px solid #fff;
    margin-top: em(16,14);
    margin-bottom: em(24,14);

    @media (min-width: 720px) {
        padding-top: em(58,14);
        padding-bottom: 0;
        border-bottom: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (min-width: 900px) {
        width: calc(33.3333333333% - 26.6666666667px);
        margin-left: auto;
        padding-top: 0;
    }
}

.footer-addressline {
    position: relative;
    padding-left: em(22,14);
    margin-top: 0;
    margin-bottom: 0;
}

.footer-addressline + .footer-addressline {
    margin-top: em(6,14);
}

.footer-addressline::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-weight: 700;
}

.footer-addressline.address::before {
    content: 'A';
}

.footer-addressline.phone::before {
    content: 'T';
}

.footer-addressline.email::before {
    content: 'E';
}

.footer-addressline a {
    text-decoration: none;
}

// 720px

// 900px