//
// Component: Linklist
//

.linklist {
    @include reset-list;
}

.linklist li:not(:last-child) {
    margin-bottom: em(12);
}

.linklist a {
    display: inline-flex;
    align-items: center;
    transition: color .15s ease-in-out 0s;
}

.linklist svg {
    display: block;
    width: rem(16);
    height: rem(16);
    margin-right: em(8);
    fill: $color-primary-dark;
}