//
// Component: Overview table
//

.overview-table tr:not(.overview-table-detail):hover {
    background-color: map-get($colors, light-5);
    cursor: pointer;
}

.overview-table-value {
    margin-bottom: 0;
    color: $color-primary-dark;
    font-size: em(22);
    font-weight: 600;
}

.overview-table-label {
    margin-top: 0;
    font-size: rem(14);
}

.overview-table-detail {
    display: none;
    background-color: #f9f9f9;
}

.overview-table-detail td {
    padding: em(32);
}

.overview-table-detail dt:last-of-type,
.overview-table-detail dd:last-of-type {
    border-bottom: 0;
}

.overview-table-detail h3:first-of-type {
    margin-top: 0;
}

[aria-expanded="true"] .overview-table-actions .button svg {
    transform: rotate(180deg);
}

@media (max-width: 999px) {

    .overview-table tr:not(.overview-table-detail),
    .overview-table td {
        display: block;
    }

    .overview-table td {
        padding: 0;
    }

    .overview-table tr:not(.overview-table-detail) {
        padding-top: rem(24);
        padding-bottom: rem(24);
    }
    
    .overview-table-detail td {
        padding: em(24);
    }

    .overview-table-label {
        margin-bottom: rem(16);
    }

}

@media (min-width: 1000px) {

    .overview-table-actions {
        text-align: right;
    }

}

//
// IE11 DL inside table fix

@media all and (-ms-high-contrast:none) {

    *::-ms-backdrop, .overview-table-detail dl {
        max-width: 600px;
    }

}