//
// Component: Pension highlight
//

.pension-highlight {
    position: relative;
    padding-right: em(56);
    font-size: rem(16);

    @media (min-width: 500px) {
        padding-right: em(40);
    }

}

.pension-highlight .pension-highlight-title {
    margin-bottom: rem(16);
}

.pension-highlight .pension-highlight-total {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-primary-dark;
    font-family: 'Open Sans', sans-serif;
    font-size: em(32,16);
    font-weight: 700;
    line-height: 1;

    @media (min-width: 768px) {
        font-size: em(54,16);
    }

}

.pension-highlight .pension-highlight-footnote {
    color: #666;

    time {
        font-weight: bold;
    }

}

//
// Small

.pension-highlight--small .pension-highlight-title {
    margin-bottom: rem(16);
}

.pension-highlight--small .pension-highlight-total {

    @media (min-width: 768px) {
        font-size: em(32,16);
    }

}

.pension-highlight--small .pension-highlight-footnote {
    margin-top: rem(16);
}