<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sphdhv.KlantPortaal.Host.WebHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Sphdhv.KlantPortaal.Access.Deelnemer.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    </sectionGroup>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="IdentityDbContext" connectionString="Data Source=OTA-DB.ICATT.LOCAL;Initial Catalog=HaskoningDHV.Klantportaal.DEV.AspNetMembership;User ID=HaskoningDHV.Klantportaal.DEV.AspNetMembership;Password=dsg*9hsdKJH785w3))123GbdfgdfgbnHSHDHSDFHJ345dfg345;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <applicationSettings>
    <Sphdhv.KlantPortaal.Host.WebHost.Properties.Settings>
 

      <setting name="KeyVaultApplicationId" serializeAs="String">
        <value>4bb4eb36-fb4a-4a83-b7e7-e502c07fb84b</value>
      </setting>
      <setting name="KeyVaultCertificateThumbprint" serializeAs="String">
        <value>67a674bd68a281d117648e1db4a19fcafae61972</value>
      </setting>
    </Sphdhv.KlantPortaal.Host.WebHost.Properties.Settings>

    <Sphdhv.KlantPortaal.Access.Deelnemer.Service.Properties.Settings>
      <setting name="KeyVaultSecrectOld" serializeAs="String">
        <value>https://sphdhvdeelnemerdev.vault.azure.net/secrets/SPHDHVDeelnemerKeyDev/740867e48eec4331ae13d9d81541d04a</value>
      </setting>
      <setting name="KeyVaultSecrectNew" serializeAs="String">
        <value>https://sphdhvdeelnemerdev.vault.azure.net/secrets/SPHDHVDeelnemerKeyDev/8a8850b20c764f4ab9ec6ae544000a6c</value>
      </setting>
    </Sphdhv.KlantPortaal.Access.Deelnemer.Service.Properties.Settings>
    
    
  </applicationSettings>

</configuration>