<?xml version="1.0" encoding="utf-8" ?>
<FilterDefinition  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<Filters>

    <Ex File="**\*.*~" />

    <Ex File="SyncFilter.config" /><!--dit bestand hoeft zelf niet mee-->
    <Ex Folder="**\node_modules\**" />
    <Ex File="**\package.json" />
    <Ex File="\packages.config" />
    <Ex File="**\gulpfile.js" />
    <Ex File="**\*.scss" />
		<In File="**\*.resx"  AllowUpdate="false" /><!--resource files wel toevoegen maar niet updaten-->
    
    <Ex Folder="**\scss" />
    <Ex Folder="Portals\mijn\Skins\klantportaal\assets\icons\input" />
    
		<In Folder="\DesktopModules\AuthenticationServices" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\DesktopModules\ICATT" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
    <In Folder="\DesktopModules\Sphdhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->



    <In Folder="\Portals\_default\Skins\royalhaskoningdhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\Portals\_default\Skins\royalhaskoningdhv_2015" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\Portals\_default\Skins\sphdhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\Portals\_default\Skins\dhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		            
		<In Folder="\Portals\_default\Containers\royalhaskoningdhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\Portals\_default\Containers\royalhaskoningdhv_2015" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\Portals\_default\Containers\sphdhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
		<In Folder="\Portals\_default\Containers\dhv" AllowDelete="true" /> <!--alles in deze folder toevoegen/updaten/deleten-->
    <In Folder="\bin\**\*.dll" AllowDelete="false" />
    <In Folder="\bin\**\*.pdb" AllowDelete="false" />

    <In Folder="\Portals\0\2sxc" AllowDelete="false" />
    
  </Filters>
</FilterDefinition>