//
// REGION: ALL
// ------------------------------------------------------------------
//

.container {
    max-width: rem(940);
    padding: 0 em(14);
    margin: 0 auto;

    @media (min-width: 968px) {
        padding: 0;
    }

}