//
// Helpers
//

//
// Layout

// Container

.u-container {
    @include align-center;
    @include clearfix;
    width: rem($container-width);
    max-width: calc(100% - #{(rem($screen-gutter-sm) * 2)});
}

//
// Colors

// Background colors

.u-bgcolor-dark {
    background-color: $color-primary-dark;
}

.u-bgcolor-light-10 {
    background-color: rgba($color-primary-light, 0.1);
}

.u-bgcolor-light-25 {
    background-color: rgba($color-primary-light, 0.25);
}

@each $colorName, $color in $colors {

    .u-bgcolor-#{$colorName} {
        background-color: $color;
    }

}

//
// Text

.u-help-text {
    color: #666;
    font-size: rem(14);
    line-height: (20/14);
}

//
// Hide things

// Visually hidden

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}