body {
    background-color: inherit;
    margin: inherit;
    font-family: inherit;
    font-size: inherit;
}

.Normal, 
.NormalDisabled, 
.NormalDeleted {
    font-size: inherit;
    font-weight: inherit;
}

.Head {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

h1, 
h2 { 
    font-size: inherit;
    font-weight: inherit;
}

h3, 
h4 { 
    font-size: inherit;
    font-weight: inherit;
}
h5, 
h6, 
dt { 
    font-size: inherit;
    font-weight: inherit;
}

a:link, 
a:visited, 
a:active {
    color: inherit;
    text-decoration: inherit;
}