//
// BASE: LAYOUT
// ------------------------------------------------------------------
//

.grid.grid--last {
    margin-bottom: 0;
}

.grid.grid--split-by-3 .DnnModule {
    margin-bottom: em(24);
}

@media (min-width: 720px) {

    .grid {
        @include clearfix;
        margin-bottom: em(30);
    }

    @for $i from 1 through 12 {

        .column.column--span-#{$i} {
            @include span-columns($i);
        }

    }

    .grid.grid--split-by-3 .DnnModule {
        @include span-columns(4);
        @include omega(3n);
    }

}

.page--content .column {
    margin-bottom: em(24);

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 720px) {
        margin-bottom: 0;
    }

}

.page--content-sidebar,
.page--content-sidebar-123 .column {
    margin-bottom: em(24);
 
    @media (min-width: 720px) {
        margin-bottom: 0;
    }
    
}

.page--content .grid > h1,
.page--content-123 .grid > h1 {
    
    @media (min-width: 720px) {
        @include span-columns(8);
        @include shift(4);
    }

}

//
// Sticky footer
//

html,
body,
body > form,
.page {
    height: 100%;
}

.page {
    @include display(flex);
    @include flex-direction(column);
    min-height: 100vh;
}

.page__main {
    @include flex(1 0 auto);
}

.page__header,
.page__nav,
.page__breadcrumbs,
.page__footer {
    @include flex(none);
}