//
// Config: Colors
//

$color-primary-dark:    rgb(0,87,126);
$color-primary-light:   rgb(0,134,168);

$color-text:            #222;

$color-link:            $color-primary-light;
$color-link-hover:      rgb(64,164,190);

$color-select-front:    #000;
$color-select-back:     #accef7;

$colors: (
    light-1: rgb(0, 134, 168),
    light-2: rgb(64, 164, 190),
    light-3: rgb(128, 194, 211),
    light-4: rgb(191, 225, 233),
    light-5: rgb(229, 243, 246),
    dark-0: rgb(0, 71, 101),
    dark-1: rgb(0, 87, 126),
    dark-2: rgb(64, 129, 158),
    dark-3: rgb(128, 171, 190),
    dark-4: rgb(191, 213, 223),
    dark-5: rgb(229, 238, 242)
);