
       # Helicon Ape version 3.1.0.148
       # Authentication type
       AuthType Digest
       # Name of area authentication will be used for (aka realm)
       AuthName 'ACCEPT Server'
       # Authentication provider. Here - mod_authn_file
       AuthBasicProvider file
       # Info for mod_authn_file - path to password file
       AuthUserFile c:\inetpub\.htpasswds
       # Access will be granted to all authenticated users
       Require valid-user

              Order allow,deny
    #allow heartcore webhook
       Allow from 13.69.68.63
       Allow from 52.136.251.35
       Allow from 51.144.177.200
       Allow from 51.144.100.70
       Allow from 51.144.127.200
       Allow from 51.144.45.23
       Allow from 52.232.102.225
       Allow from 52.136.233.87
       Allow from 52.136.247.194
       Allow from 51.145.129.179
    satisfy any 