
       # Helicon Ape version 3.1.0.148
       # Authentication type
       AuthType Digest
       # Name of area authentication will be used for (aka realm)
       AuthName 'ACCEPT Server'
       # Authentication provider. Here - mod_authn_file
       AuthBasicProvider file
       # Info for mod_authn_file - path to password file
       AuthUserFile c:\inetpub\.htpasswds
       # Access will be granted to all authenticated users
       Require valid-user

              Order allow,deny
    #allow heartcore webhook
       Allow from 20.86.53.156
       Allow from 20.86.53.157
    satisfy any 